<aside class="author-bio" aria-label="About the author">
  <div class="author-bio__content">
    <h3 class="author-bio__name">{{ site.author.name }}</h3>
    <p class="author-bio__role">{{ site.author.role }}</p>
    <p class="author-bio__text">{{ site.author.bio }}</p>
    <a href="{{ '/about/' | url }}" class="author-bio__link">More about {{ site.author.name }}</a>
  </div>
</aside>
